<mat-card>
    <mat-card-title> Шаблоны для создания сервисов</mat-card-title>
    <mat-card-subtitle> клините на шаблоне на создания услуги</mat-card-subtitle>
    <mat-card-content>
        <app-predefined></app-predefined>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title> Список текущих сервисов</mat-card-title>
    <mat-card-subtitle> клините на строке для детального просмотра</mat-card-subtitle>
    <mat-card-content>
        <app-service-list></app-service-list>
    </mat-card-content>
</mat-card>
